@CHARSET "ISO-8859-1";

.entrar {
	font-size: 50px;
	text-align: center;
}

body {
	background-color: #eeeeee;
}

.header {
	background-color: black;
	color: white;
	width: 100%;
	text-align: center;
}

.userLoged {
	text-align: right;
	padding-right: 10px;
}

.titleHeader {
	font-size: 36px;
	line-height: 48px;
}

.footer {
	position: fixed;
	bottom: 0px;
	background-color: black;
	width: 100%;
	color: white;
	text-align: center;
}

.login {
	width: 200px;
	margin-left: auto;
	margin-right: auto;
}

.content {
	width: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

.error {
	display: block;
	color: red;
	font: oblique;
}

.tabla {
	margin-top: 50px;
}

.menubar {
	width: 100%;
	text-align: center;
	display: block;
	margin-bottom: 10px;
}